@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.trans-hover {
  @apply transform sm:hover:scale-101 sm:hover:opacity-90 transition-all ease-in-out duration-500;
}
